.list-cd {
    flex-grow: 1;
    .collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 15px;
        list-style: none;
        .album {
            flex-basis: 200px;
            margin: 15px 25px;
            padding: 25px;
            text-align: center;
            background: $primaryCol;
            color: $white;
            .album-cover img {
                min-height: 170px;
            }
            .title {
                font-size: 21px;
                text-transform: uppercase;
                margin: 8px 0;
            }
            .author, 
            .year {
                margin-bottom: 8px;
                font-size: 17px;
            }
            .genre {
                font-size: 14px;
            }
        }
    }
}