@mixin center($type: 'both') {
    position: absolute;

    @if $type == 'vertical' {
        top: 50%;
        transform: translateY(-50%);
    }
    @else if $type == 'right' {
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
    }
    @else if $type == 'horizontal' {
        left: 50%;
        transform: translateX(-50%);
    }
    @else if $type == 'both' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if $type == 'center' {
        top: 0;
        left: 0;
    }
}